@use 'variaveis';

.footer{
    padding: 26px 8 px;

    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

    &__logo{
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        &__item{
            display: inline-block;
            a{
                text-decoration: none;
                padding: 8px 16px;
                display: block;
                &:hover{
                    color: variaveis.$cor3;
                }
            }
        }
    }

    p{
        margin-bottom: 16px;
        @media (max-width: 768px){
            padding: 0 16px;
            text-align: center;
        }
    }

}

.language-selector{
    display: flex;
    align-items: center;

    img{
        height: 18px;
        width: 18px;
        margin-right: 8px;
    }
    select{
        background-color: transparent;
        border: none;
        color: variaveis.$cor2;
        &:hover{
            color: variaveis.$cor3;
        }
        option{
            color: variaveis.$cor1;
        }
    }

}